@import url('https://fonts.googleapis.com/css2?family=Literata:ital,opsz,wght@0,7..72,200..900;1,7..72,200..900&display=swap');

body {
    font-family: 'literata';
    overflow: hidden;
    margin: 0;
    min-width: 700px;
    display: flex;
    justify-content: center;
    background-color: rgb(20, 20, 20);
    color: white;
}

#settings {
    position: absolute; 
    height: 80px;
    top: calc( 30% - 80px );
    width: 100%; 
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#settings > div {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 180px;
    min-width: 140px;
    padding: auto;
    align-items: center;
    justify-content: center;
}

#nav {
    margin-top: 30px;
}

#nav > a {
    color: #939394;
}

input[ type="number" ], input[ type="text" ] {
    font-family: 'literata';
    background-color: transparent;
    border: none;
    font-size: 18px;
    text-align: center;
    color: #939394;
}

input {
    color: white;
}

#fretboard {
    position: absolute;
    height: 50%;
    max-width: 1920px;
    top: 30%; 
    max-height: 400px;
}

fieldset {
    border: none; 
    font-size: 15px; 
}

#buttons {
    position: absolute;
    height: 90px;
    top: calc( 30% - 140px );
    width: 100%; 
    display: flex;
    flex-direction: row;
    justify-content: center;
}

button {
    font-family: 'literata';
    width: 170px;
    height: 40px;
    margin: 10px;
    border: none; 
    border-radius: 3px;
    background-color: #ffffff1e;
    box-shadow: rgba(0, 0, 0, 0.075) 0px 0px 0px 1px;
    color: white;
}

button:hover {
    background-color: #575757;
}