#container {
    display: flex;
    flex-direction: column; 
    width: 60%;
    margin: auto;
    padding-top: 15vh;
    align-items: center;
}

a { color: var(--text-light); text-decoration: none;}

#item {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    align-items: center;
}

#back { 
    color: var(--text-darker); 
    text-decoration: underline;
    padding-bottom: 30px;
}

#back:hover { color: var(--text-light); cursor: pointer; }

#title { 
    font-size: 26px;  
    text-decoration: underline;
    text-decoration-thickness: 1px;
}

#title:hover { color: var(--text-darker); }

#description { font-size: 15px; color: var(--text-darker); text-align: center; }

@media only screen and (max-width: 700px) {
    #container { width: 90% }    
}