#container {
    margin: auto;
    padding-top: 10vh;
    width: 60vw; 
    display: flex;
    flex-direction: column;
}

#title { font-size: 28px; text-align: center; }
#container > * { margin: auto; margin-top: 15px; }

#info {
    color: var(--text-darker); 
    font-size: 15px; 
    text-align: center;
    margin-top: 5px; 
}

a { color: var(--text-darker); text-decoration: underline; }
a:hover { color: var(--text-light); cursor: pointer; }

input {
    font-family: 'literata';
    background-color: transparent;
    border: none;
    font-size: 18px;
    text-align: center;
    color: var(--text-light);

}

button {
    font-family: var(--font);
    width: 170px;
    height: 40px;
    margin: 10px;
    border: none; 
    border-radius: 3px;
    background-color: var(--button-bg);
    box-shadow: var(--button-shadow);
    color: var(--button-text-colour);
    max-width: 200px;
}

button:hover {
    color: var(--text-light);
    background-color: var(--button-hover)
}

@media only screen and (max-width: 600px) {
    #container { width: 90vw; }
    button { width: 70%; } 
}

#output {
    display: flex;
    flex-direction: column;
    align-items: center;
} 
#modeInfo {
    padding-bottom: 10px;
    text-align: center;
} 
#mode {
    text-decoration: none;
}
#mode:hover {
    text-decoration: underline;
    cursor: pointer;
}
#root {
    font-size: 25px;
    color: var(--text-light)
}
@media only screen and (max-width: 700px) {
    input { width: 80vw } 
}