#container {
    margin: 0 auto; 
    width: 30%;
    display: flex;
    margin-top: 25vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#container > * { margin: 10px; }

#question  { text-align: center; font-size: 25px; width: 70vw; color: var(--text-light) }
#record    { color: var(--text-darker); font-size: 16px; }
#incorrect { color: #570017  }

a { color: var(--text-darker); text-decoration: underline; }

a:hover { color: var(--text-light); cursor: pointer; }
#keysig { color: var(--text-darker); font-size: 22px; }
#streak { color: var(--text-darker); font-size: 16px; }

input {
    font-family: 'literata';
    background-color: transparent;
    border: none;
    font-size: 18px;
    text-align: center;
    color: var(--text-light);
}

button {
    font-family: var(--font);
    width: 170px;
    height: 40px;
    margin: 10px;
    border: none; 
    border-radius: 3px;
    background-color: var(--button-bg);
    box-shadow: var(--button-shadow);
    color: var(--button-text-colour);
}

button:hover {
    color: var(--text-light);
    background-color: var(--button-hover)
}

#details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

